/* @import "tailwindcss"; */
/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import "./custom-theme.css" layer(theme);

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-neutral-700);
  }

  h1 {
    font-size: var(--text-3xl);
    font-weight: bold;
    @media (min-width: 48rem) {
      font-size: var(--text-4xl);
    }
  }
  h2 {
    font-size: var(--text-2xl);
    font-weight: 600;
  }
  h3 {
    font-size: var(--text-xl);
    font-weight: 600;
  }

  p {
    margin-bottom: 16px;
  }

  a {
    color: var(--color-yellow-brand);
    &:hover {
      color: var(--color-blue-brand);
    }
  }
}

@layer utilities {
  .container {
    max-width: var(--container-5xl);
    margin-inline: auto;
    padding-inline: calc(var(--spacing) * 3.75) /* 0.9375rem = 15px */;

    @media (width >= 40rem) {
      padding-inline: calc(var(--spacing) * 7.5) /* 1.875rem = 30px */;
    }

    @media (width >= 48rem /* 768px */) {
      max-width: var(--container-7xl) /* 80rem = 1280px */;
    }
  }
}

@layer components {
  #wrapper {
    width: 100%;
    position: relative;
  }

  .hero {
    position: relative;
    background: url(./images/bg-hero.jpg);
    /* &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: var(--color-green-brand);
      opacity: 0.6;
    } */
  }

  .main-nav {
    li {
      position: relative;
      padding-bottom: 0.25rem;
      @media (min-width: 48rem) {
        padding: 0 0.5rem;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &:not(:first-child) {
        &:before {
          @media (min-width: 48rem) {
            content: "";
            width: 1px;
            height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.5) 50%,
              rgba(255, 255, 255, 0) 100%
            );
          }
        }
      }
    }
  }
  .btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /* font-family: var(--albert-sans-font); */
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: var(--color-blue-brand);
    padding: 16px 25px;
    background-color: var(--color-yellow-brand);
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media (min-width: 48rem) {
      font-size: 17px;
    }

    &.with-icon {
      padding: 5px 5px 5px 15px;
      gap: 10px;
      @media (min-width: 48rem) {
        padding-left: 25px;
        gap: 15px;
      }
    }

    .icon-holder {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: none;
      background: var(--color-blue-brand);
      color: var(--color-white);
      border-radius: 100%;
      transition: all 0.3s linear 0s;

      @media (min-width: 48rem) {
        width: 50px;
        height: 50px;
      }

      .icon-frame {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 15px;
        overflow: hidden;
        .icon {
          transition: 0.4s linear 0s;
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -110%;
      width: 200%;
      height: 200%;
      background: var(--color-white);
      transform: translateX(-50%) translateY(-50%);
      z-index: -1;
      border-radius: 200px;
      transition: all 0.4s ease-in-out;
    }

    &:hover {
      /* @media (hover: hover) { */
      /* background-color: var(--color-white); */
      /* transform: scale(1); */
      box-shadow: var(--shadow-lg);
      transition: all 0.3s linear;
      &:before {
        left: -10%;
        transform: translateX(0%) translateY(-50%);
      }

      .icon-holder {
        background: var(--color-yellow-brand);
        color: var(--color-blue-brand);
        .icon {
          transform: translateX(100%);
        }
      }
      /* } */
    }
  }
}

/* 
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
